body {
    margin: 0px;
    padding: 0px;
    background-color: #222;
    color: #ccc;
    font-family: verdana;
}
img {
    user-select: none;
}
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    background: #333;
    color: #ccc;
    width: 100%;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.navbar a {
    display: block;
    color: #ccc;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 0px;
}
.navbar a:hover {
    background: linear-gradient(to right, #444, #555);
}
.navbar .active {
    border-bottom: 2px solid red;
}
.navbar .separator {
    width: 10px;
    padding: 0px;
}
.main {
    margin-top: 30px;
    padding: 10px;
}
.main a {
    color: #ccc;
    text-decoration: none;
}
.main a:hover {
    color: #41abd4;
    text-decoration: underline;
}
.title {
    color: #999;
    font-size: 15px;
    font-family
}
.img1 {
    width: 80%;
}
.img2 {
    width: 80%;
}
.file_icon {
    width: 25px;
    height: 25px;
}
code {
    background: #666;
    padding: 3px 5px;
}
.note {
    border: 1px solid red;
    padding: 10px;
}
#progressBar {
    width: 100%;
    background-color: #222;
    position: relative;
}

#progress_ {
    width: 0%;
    height: 5px;
    background-color: #004AF7;
}
::-webkit-scrollbar {
    border: none;
    background: #222;
    width: 7.5px;
    margin: 0px 0px 0px 0px;
}
::-webkit-scrollbar-track {
    border: 2px solid #222;
    background: #222;
}
::-webkit-scrollbar-thumb {
    background: #555;
    min-height: 30px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #666;
}
::-webkit-scrollbar-thumb:active {
    background: #999;
}
@media screen and (max-width: 500px) {
    .navbar {
        position: relative;
        border-radius: 0px;
        display: block;
    }
    .navbar a {
        display: block;
        float: none;
    }
    .navbar .active {
        border-bottom: 0px solid red;
        background: linear-gradient(to right, #444, #555);
    }
    .main {
        margin-top: 0px;
    }
    .img1 {
        width: 100%;
    }
    .img2 {
        width: 100%;
    }
}